.DS_Store
.pio
.vscode
.cache
sdkconfig.*
!sdkconfig.defaults
config/secrets.ini
kicad/esp32_devkit/legoesp32-backups/*
kicad/esp32_devkit/production/backups/*
kicad/esp32_devkit/*.lck
kicad/esp32_devkit/*.bak
kicad/esp32_devkit/fp-info-cache
Wconfig/secrets.txt
frontend/node_modules
data
managed_components
.claude
compile_commands.json
.sync-exclude.lst
.venv